<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    XML based-->
    <!--    third way using namespace-->
    <bean class="ir.dotin.beandefinition.xml.BeanOne"  id="beanOne" c:_0="ali" c:_1="12">
        <!--        first way-->
        <!--        <constructor-arg value="Elham"/>-->

        <!--        second way-->
        <!--        <constructor-arg name="name">-->
        <!--            <value>Elham</value>-->
        <!--        </constructor-arg>-->
    </bean>
    <!--    XML based-->

</beans>